html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(202, 200, 200);
    line-height: 1.4em;
}

img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}

p a {
    display: inline;
}

li {
    list-style: none;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 800;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.border {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.read__more {
    padding: 5px;
    width: 80px;
    margin-left: auto;
}

.icon__form {
    position: absolute;
    width: 90px;
    top: -48px;
    right: -22px;
    transform: rotate(40deg);
}